@model IEnumerable<Models.ViewModel.ConsultasViewModel>
@{
    ViewData["Title"] = "Lista de Consultas";
}

<h2>@ViewData["Title"]</h2>

@Html.ActionLink("Novo", "Cadastro", "Consultas")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codm) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora)
            </th>  
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => item.codm) -
                    @Html.DisplayFor(model => item.nomeMedico)
                </th>
                <th>
                    @Html.DisplayFor(model => item.codp) -
                    @Html.DisplayFor(model => item.nomePaciente)
                </th>
                <th>
                    @Html.DisplayFor(model => item.data)
                </th>
                <th>
                    @Html.DisplayFor(model => item.hora)
                </th>
                
                <th>
                    @Html.ActionLink("Editar", "Cadastro", "Consultas", new {codm = item.codm, data = item.data, hora = item.hora}, null )
                    |
                    @Html.ActionLink("Excluir", "Excluir", "Consultas", new {codm = item.codm, data = item.data, hora = item.hora})
                </th>
            </tr>
        }
    </tbody>
</table>

